.header {
  width: 100%;
  height: 5.5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: white;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}