@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-image: url(./assets/webpage.png);
  position: relative;
  animation: slide 0.6s forwards;
  top:-100px;
}

@keyframes slide {
  100% { top: 0px; }
}



button {
  display:flex;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #1a8ed1;
  border: 0.1rem solid #1a8ed1;
}

button:hover,
button:active {
  background-color: #1ac5d1;
  border-color: #1ac5d1;
  color: white;
}
